@import "../../styles/index.scss";

.auth-screen__container {
    align-items: center;

    display: flex !important;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 30px;
    justify-content: center;
    background-color: $background;

    .auth-screen__logo {
        width: 400px;
    }

    .auth-screen__form {
        background-color: $background;
        border: 1px solid $gray-light;
        border-radius: 5px;
        padding: 20px 50px;
        margin-top: 10px;
        width: 400px;
    }

    .auth-screen__change-form {
        margin-top: 10px;
        text-align: center;
        width: 400px;
        padding: 20px 50px;
        border: 1px solid $gray-light;
        border-radius: 5px;
        background-color: $background;
    }

    .auth-screen__change-form-label {
        color: $gray-light
    }

    span {
        color: $principal;
        font-weight: bold;
        margin-left: 1px;
        :hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}